@model IQueryable<Product>
@{ 
    ViewData["Title"] = "Pizza";
    List<Product> Pizza = new List<Product>();
    List<Product> Burgers = new List<Product>();
    List<Product> Salads = new List<Product>();
    List<Product> Fries = new List<Product>();
    List<Product> Drinks = new List<Product>();
    foreach(Product entity in Model)
    {
        if (entity.Category == "Pizza")
            Pizza.Add(entity);
        else if (entity.Category == "Burgers")
            Burgers.Add(entity);
        else if (entity.Category == "Salads")
            Salads.Add(entity);
        else if (entity.Category == "Fries")
            Fries.Add(entity);
        else if (entity.Category == "Drinks")
            Drinks.Add(entity);
    }
}
<!-- breadcum section -->

<div class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main_breadcum">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index" class="trans" title="Home">Home</a></li>
                        <li>Our Menu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- breadcum section -->
<!-- Our Menu section -->
<!-- Our Menu section -->
<section>
    <div class="Our_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main_Ourmenu">
                        <h2 class="title">Pizza</h2>
                        <div class="content_menu bottom_pitch">
                            <div class="main_bpitch">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item pizza">
                                        <a class="nav-link active trans" data-toggle="tab" href="#pizza" title="Pizza">
                                            <span class="icon">Pizza</span>
                                        </a>
                                    </li>
                                    <li class="nav-item burger1">
                                        <a class="nav-link trans" data-toggle="tab" href="#burger1" title="Burgers">
                                            <span class="icon">Burgers</span>
                                        </a>
                                    </li>
                                    <li class="nav-item salads">
                                        <a class="nav-link trans" data-toggle="tab" href="#salad" title="Salads">
                                            <span class="icon">Salads</span>
                                        </a>
                                    </li>
                                    <li class="nav-item fries">
                                        <a class="nav-link trans" data-toggle="tab" href="#fries" title="Fries">
                                            <span class="icon">Fries</span>
                                        </a>
                                    </li>
                                    <li class="nav-item drinks">
                                        <a class="nav-link trans" data-toggle="tab" href="#drinks" title="Drinks">
                                            <span class="icon">Drinks</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="tab-content">

                            <div id="pizza" class=" tab-pane active">
                                <div class="content_row">
                                    <div class="left_cntbar">
                                        <div class="pizza_items">
                                            <div class="row">
                                                @if (Model.Any())
                                                {
                                                    @foreach (Product entity in Pizza)
                                                    {
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="P_itmesbox">
                                                                <div class="PT_image"><img src="@entity.TitleImagePath" class="absoImg" alt="@entity.TitleImagePath"></div>
                                                                <div class="PT_dscr">
                                                                    <h3 class="PT_title">@entity.Name</h3>
                                                                    <p class="PT_dtls">
                                                                        @entity.Subtitle
                                                                    </p>
                                                                    <div class="PT_optn">
                                                                        <ul class="PT-radio">
                                                                            <li>
                                                                                <input type="radio" name="radio-group-1" id="radio-1" checked="checked" />
                                                                                <label for="radio-1">Medium</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-1" id="radio-2" />
                                                                                <label for="radio-2">Large</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-1" id="radio-3" />
                                                                                <label for="radio-3">Extra Large</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="price_block">
                                                                        <div class="price">$ @entity.Price</div>
                                                                        <a asp-controller="Cart" asp-action="Add" asp-route-id="@entity.Id" class="card_btn">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="burger1" class=" tab-pane fade">
                                <div class="content_row">
                                    <div class="left_cntbar">
                                        <div class="pizza_items">
                                            <div class="row">
                                                @if (Model.Any())
                                                {
                                                    @foreach (Product entity in Burgers)
                                                    {
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="P_itmesbox">
                                                                <div class="PT_image"><img src="@entity.TitleImagePath" class="absoImg" alt=""></div>
                                                                <div class="PT_dscr">
                                                                    <h3 class="PT_title">@entity.Name</h3>
                                                                    <p class="PT_dtls">
                                                                        @entity.Subtitle
                                                                    </p>

                                                                    <div class="price_block">
                                                                        <div class="price">$ @entity.Price</div>
                                                                        <a asp-controller="Cart" asp-action="Add" asp-route-id="@entity.Id" class="card_btn">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="salad" class=" tab-pane fade">
                                <div class="content_row">
                                    <div class="left_cntbar">
                                        <div class="pizza_items">
                                            <div class="row">
                                                @if (Model.Any())
                                                {
                                                    @foreach (Product entity in Salads)
                                                    {
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="P_itmesbox">
                                                                <div class="PT_image"><img src="@entity.TitleImagePath" class="absoImg" alt=""></div>
                                                                <div class="PT_dscr">
                                                                    <h3 class="PT_title">@entity.Name</h3>
                                                                    <p class="PT_dtls">
                                                                        @entity.Subtitle
                                                                    </p>

                                                                    <div class="price_block">
                                                                        <div class="price">$ @entity.Price</div>
                                                                        <a asp-controller="Cart" asp-action="Add" asp-route-id="@entity.Id" class="card_btn">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="fries" class=" tab-pane fade">
                                <div class="content_row">
                                    <div class="left_cntbar">
                                        <div class="pizza_items">
                                            <div class="row">
                                                @if (Model.Any())
                                                {
                                                    @foreach (Product entity in Fries)
                                                    {
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="P_itmesbox">
                                                                <div class="PT_image"><img src="@entity.TitleImagePath" class="absoImg" alt=""></div>
                                                                <div class="PT_dscr">
                                                                    <h3 class="PT_title">@entity.Name</h3>
                                                                    <p class="PT_dtls">
                                                                        @entity.Subtitle
                                                                    </p>
                                                                    <div class="PT_optn">
                                                                        <ul class="PT-radio">
                                                                            <li>
                                                                                <input type="radio" name="radio-group-10" id="Medium" checked="checked" />
                                                                                <label for="Medium">Medium</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-10" id="Large" />
                                                                                <label for="Large">Large</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-10" id="Extra-Large" />
                                                                                <label for="Extra-Large">Extra Large</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="price_block">
                                                                        <div class="price">$ @entity.Price</div>
                                                                        <a asp-controller="Cart" asp-action="Add" asp-route-id="@entity.Id" class="card_btn">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="drinks" class=" tab-pane fade">
                                <div class="content_row">
                                    <div class="left_cntbar">
                                        <div class="pizza_items">
                                            <div class="row">
                                                @if (Model.Any())
                                                {
                                                    @foreach (Product entity in Drinks)
                                                    {
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="P_itmesbox">
                                                                <div class="PT_image"><img src="@entity.TitleImagePath" class="absoImg" alt=""></div>
                                                                <div class="PT_dscr">
                                                                    <h3 class="PT_title">@entity.Name</h3>
                                                                    <p class="PT_dtls">
                                                                        @entity.Subtitle
                                                                    </p>
                                                                    <div class="price_block">
                                                                        <div class="price">$ @entity.Price</div>
                                                                        <a asp-controller="Cart" asp-action="Add" asp-route-id="@entity.Id" class="card_btn">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="right_cntbar col-lg-3">
                            <div class="your_order">
                                <div class="Order_title">
                                    <span class="O_lefttitle">Your order </span>
                                    <span class="O_cart"><a href="#" class="trans" title="Add To Cart"></a></span>
                                </div>
                                <div class="Order_number">
                                    <ul>
                                        <li>
                                            <div class="Order_number">
                                                <div class="Order_names">
                                                    <span class="O_name">1x Mexican Pizza</span>
                                                    <span class="O_type">Extra Large</span>
                                                </div>
                                                <div class="Order_price">
                                                    <span class="O_price">$12</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="Order_number">
                                                <div class="Order_names">
                                                    <span class="O_name">1x Mexican Pizza</span>
                                                    <span class="O_type">Extra Large</span>
                                                </div>
                                                <div class="Order_price">
                                                    <span class="O_price">$12</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="Order_number">
                                                <div class="Order_names">
                                                    <span class="O_name">1x Mexican Pizza</span>
                                                    <span class="O_type">Extra Large</span>
                                                </div>
                                                <div class="Order_price">
                                                    <span class="O_price">$12</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="Order_number">
                                                <div class="Order_names">
                                                    <span class="O_name">1x Mexican Pizza</span>
                                                    <span class="O_type">Extra Large</span>
                                                </div>
                                                <div class="Order_price">
                                                    <span class="O_price">$12</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="Order_number">
                                                <div class="Order_names">
                                                    <span class="O_name">1x Mexican Pizza</span>
                                                    <span class="O_type">Extra Large</span>
                                                </div>
                                                <div class="Order_price">
                                                    <span class="O_price">$12</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="Order_number">
                                                <div class="Order_names">
                                                    <span class="O_name">1x Mexican Pizza</span>
                                                    <span class="O_type">Extra Large</span>
                                                </div>
                                                <div class="Order_price">
                                                    <span class="O_price">$12</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="totle_Oamount">
                                    <div class="O_totlecost">
                                        <span class="O_title">Total</span>
                                        <span class="O_price">$156</span>
                                    </div>
                                    <a asp-controller="Menu" asp-action="Cart" class="trans red_btn squre-btn hvr-ripple-out" title="">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Menu section -->
<!-- Quick Order Section -->
<section>
    <div class="quick_order">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main_quickorder">
                        <h3 class="title">Call Us for Quick Order</h3>
                        <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:+01234567890" id="typewriter_num"></a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Quick Order Section -->